@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .translate3d {
    transform: translate3d(-25%, 0, 0);
  }
}
@layer components {
  .background-wrapper {
    background-image: url(//www.rollienation.com/cdn/shop/files/updated-mobile_268cb083-ef80-4061-ab6d-ebf887c4489a_750x.jpg?v=1661484658);
    background-repeat: no-repeat;
    background-position: 50%;
    background-acttachment: fixed;
    background-size: cover;
  }
  .scrollable {
    overflow-x: scroll;
  }
  .scrollable::-webkit-scrollbar {
    display: none;
  }
  .dynamic-width {
    width: clamp(15rem, 64vw, 21.25rem);
  }
  .dynamic-width-lg {
    width: clamp(21.25rem, 29.51vw, 26.5625rem);
  }
  .dynamic-width-xl {
    width: min(27.5vw, 34.375rem);
  }
  .dynamic-width-br {
    width: clamp(11.75rem, 50.1vw, 21.25rem);
  }
  .dynamic-width-br-lg {
    width: clamp(21.25rem, 30.21vw, 27.1875rem);
  }
  .dynamic-width-br-2xl {
    width: clamp(27.875rem, 30vw, 37.5rem);
  }

  .width-c-lg {
    width: min(60.97%, 19.8125rem);
    margin-bottom: 1.5rem;
  }
  .width-c-2xl {
    width: min(59.12%, 25.3125rem);
    margin-bottom: 5rem;
  }

  .grid-md {
    grid-template-columns: 1fr 49.1379310345%;
    grid-template-rows: 1fr;
    gap: 2.1875rem;
  }
  .grid-lg {
    gap: min(6%, 4.375rem);
  }
  .grid-2xl {
    gap: min(7.875%, 7.875rem);
    grid-template-columns: 1fr 49.3125%;
  }

  .text-c-lg {
    font-size: min(5.5rem, 6.11vw);
    line-height: 1;
  }
  .text-c-2xl {
    font-size: min(7.5rem, 6vw);
  }

  .text-title-lg {
    font-size: min(12.5rem, 13.8888888889vw);
  }
  .text-title-xl {
    font-size: min(15rem, 12vw);
  }

  .text-classic-lg {
    font-size: min(9rem, 10vw);
    line-height: 0.94;
    letter-spacing: -0.02em;
  }
  .text-classic-2xl {
    font-size: min(12.5rem, 10vw);
    line-height: 0.96;
  }
  .padding-classic-lg {
    padding: 8rem min(9.73%, 8.75rem) 11.25rem;
  }
  .padding-classic-2xl {
    padding: 11.25rem min(10%, 12.5rem) 15rem;
  }
  .grid-contact {
    grid-template-rows: 11rem repeat(2, 1fr);
  }
  .grid-contact-res {
    @media only screen and (min-width: 750px) {
      grid-template-rows: 10.0625rem 1fr 13.5rem;
    }
    @media only screen and (min-width: 1350px) {
      grid-template-rows: 14rem 1fr 12.75rem;
    }
  }
  .first-img-contact {
    grid-area: 1/1/2/2;
    padding-left: 1.5rem;
  }
  .form-contact {
    grid-area: 2/1/3/3;
    padding: 0 1.5rem;
  }
  .form-contact__title {
    max-width: max(65%, 12.8125rem);
    margin-bottom: 1.4375rem;
  }
  .form-contact__title2xl {
    font-size: min(9rem, 10vw);
    line-height: 0.94;
    letter-spacing: -0.02em;
  }
  .form-contact__titlelg {
    font-size: min(6rem, 8vw);
    line-height: 0.94;
    letter-spacing: -0.02em;
  }
  .form-contact__input {
    width: calc(100% + 1.25rem);
  }
  .form-contact__input-xl {
    width: calc(100% + 2rem);
  }
  .highlight-content {
    font-size: 3rem;
    line-height: 1.16;
    letter-spacing: -0.02em;
    margin-bottom: 1.5625rem;
    font-weight: 600;
  }
  .highlight-content-lg {
    font-size: min(3.5rem, 3.8888888vw);
    line-height: 1.14;
    margin-bottom: 2.5rem;
  }
  .highlightg-content-2xl {
    font-size: min(5rem, 4vw);
    line-height: 1.1;
    margin-bottom: 4rem;
    font-weight: 700;
  }
}
